*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    display: block;
}
body{background-image: url(https://images.unsplash.com/photo-1539923779676-1a9bddf986db?ixlib=rb-1.2.1&w=1000&q=80);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    margin: 0 auto;
}
header{
    background: #343a40;
    padding: 15px 0;
}
.container h1{color: white;}
.container p{color: white;}
.container li{color: white;}
.container button{
    padding: 10px 24px;
     background-color:#4CAF50; /* Green */
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
 
}
.container{
    width: 1200px;
    margin:0 auto;
    overflow: hidden;
}
nav{
    text-align: center;
}
nav ul{}
nav ul li{
    display: inline-block;
    vertical-align: middle;
}
nav ul li a{
    color: orange;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 16px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;

}
nav ul li a:hover{
    color:blue;
    background: gray;
}
nav ul li a img{
    width: 150px;
}
.form-section{
    padding: 8px 0;

    
}
form{
    width: 450px;
    margin: 0px auto;
    background: green;
    padding: 30px;
}
input{
    width: 100%;
    border:5px solid green;
    padding: 20px 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 10px;
}
select{
    width: 100%;
    border:5px solid green;
    padding: 20px 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 10px;
}
span{
    color: pink;
    padding-top:10px;
    padding-bottom: 5px;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
}
textarea{
    width: 100%;
    border:5px solid green;
    padding: 20px 10px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 10px;
}
label{
    color: pink;
}
input[type="radio"],input[type="checkbox"]{
  width: auto;  
}
/*input ar nicher ta prai same
#male{
    width: auto;
}
#female{
    width: auto;
}
*/
.btn{
    background: black;
    color: pink;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 10px;
}
.leftcontainer{
width: 40%;
margin-top: 10px;
margin-left: 10px;
float: left;
overflow: hidden;
color: white;
}

.rightcontainer{
float: right;
width: 50%;
margin-right: 30px;
margin-top: 10px;
}
form p{
    color: white;
    text-align: center;
    margin-bottom: 25px;
    font-size: 13px;
}
form h3{
display: block;
text-align: center;
color: white;
margin-bottom: 5px;
margin-top: 20px;
}
